.input-field>label {
    color: white;
}

.input-field>input{
  color: white;
  
}

.btn {
  font-family:'Ubuntu', sans-serif;
}

.container {
  height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}