#main-dash-container {
  min-height: calc( 100vh - 64px);
}

#leftside-col {
    padding-top: 25px;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}
 
#rightside-col {
    font-size: 18px;
    padding-top: 25px;
    padding: 0;
}

#main-row {
    margin: 0;
}

#boards-titlebox {
    color: white;
    margin-left: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    border: solid white;
    border-width: 1px;
    margin: 20px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
 }

 #memory-tracker {
    height: calc(83vh - 50px);
    overflow-y: hidden;
 }

 #memory-tracker:hover {
  overflow-y: scroll;
}

 .scoreboard-row {
     margin: 0;
 }

 #winning-moves {
   color: lightseagreen
 }

 #losing-moves {
  color: red;
}

::-webkit-scrollbar              { background-color: rgba(0,0,0,0); width: 4px}
::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track        { /* 3 */ }
::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-thumb        { background-color: rgba(0,255,0); border-radius: 5px}
::-webkit-scrollbar-corner       { /* 6 */ }

@media only screen and (max-width: 992px) {
  #scoreboard, #boards-titlebox {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2px;
    width: 50%
  }
  #memory-tracker {
    height: 40vh;
  }
}

@media only screen and (max-width: 520px) {
  #scoreboard, #boards-titlebox {
    font-size: 16px;
    margin: 5px;
    padding: 2px;
    width: 98%;
  }
  #elspith-modal {
    width: 76%;
  }
}
