#leftside-col {
    /* min-height: calc( 100vh - 64px); */
    padding-top: 25px;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}
 
#rightside-col {
    font-size: 18px;
    padding-top: 25px;
    padding: 0;
}

#main-row {
    margin: 0;
}

#boards-titlebox {
    color: white;
    margin-left: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    border: solid white;
    border-width: 1px;
    margin: 20px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
 }

 #memory-tracker {
    height: calc(75vh - 50px);
    overflow-y: hidden;
 }

 #memory-tracker:hover {
  overflow-y: scroll;
}

 .scoreboard-row {
     margin: 0;
 }

 #winning-moves {
   color: lightseagreen
 }

 #losing-moves {
  color: red;
}

::-webkit-scrollbar              { background-color: rgba(0,0,0,0); width: 3px}
::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track        { /* 3 */ }
::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-thumb        { background-color: rgba(0,255,0);; border-radius: 5px}
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer

@media only screen and (max-width: 100em) {
    #leftside-col {
      height: 50%;
      min-height: 0;  
    }
  }

@media only screen and (max-width: 802px) {
  #memory-tracker {
    height: calc(25vh);
  }
}

@media only screen and (max-width: 420px) {
  #scoreboard, #boards-titlebox {
    font-size: 16px;
    margin: 8px;
    padding: 2px;
    width: 90%;
  }
}
