#scoreboard {
    color: rgba(0,255,0);
    margin-left: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 3px;
    border: solid rgba(0,255,0);
    border-width: 1px;
    margin: 20px;
    width: 50%;
    font-family: "fader";
    margin-left: 25%;
    text-align: center; 
 }

 .scoreboard-row {
     margin: 0;

 }

 @font-face {
    font-family: "fader";
    src: url("fader.ttf");
    }

.txt {
   font-size: 16px;
}
    
    