#scoreboard {
    color: rgba(0,255,0);
    margin-left: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    border: solid rgba(0,255,0);
    border-width: 1px;
    margin: 20px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
 }

 .scoreboard-row {
     margin: 0;
 }

 #reset-button {
     background-color: black;
     margin-top: 20px;
     border: solid rgba(0,255,0);
     border-width: 1px;
     color: rgba(0,255,0);
 }

 @media only screen and (max-width: 420px) {
    #scoreboard {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }
    #boards-titlebox { 
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }
  }

    