#scoreboard {
    color: rgba(0,255,0);
    margin-left: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    border: solid rgba(0,255,0);
    border-width: 1px;
    margin: 20px;
    margin-left: 25%;
    width: 50%;
    text-align: center;
 }

 .scoreboard-row {
     margin: 0;
 }

 #reset-button {
     background-color: black;
     margin-top: 20px;
     border: solid rgba(0,255,0);
     border-width: 1px;
     color: rgba(0,255,0);
 }

 #elspith-modal {
    /* background-color: rgba(0,0,0,0); */
    border: solid red;
    border-width: 1px;
    height: 100%;
    width: 400px;
    text-align: center;
    color: red;
}

#elspith-footer {
    text-align: center;
}

#elspith-jpg {
    height: 60%;
    width: 60%;
}

#play-again-button {
    border: solid red;
    border-width: 1px;
    color: red;
    
}

#play-again-button:hover {
    background-color: darkred;
}

.pawnblack, .pawnwhite {
    height: 100%;
    pointer-events: none;

}

    