nav {
    background-color: rgba(0,0,0,0.0);
}

.btn {
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    margin: 20px;
    background-color: black;
    color: rgba(0,255,0);
}

#navbar-button {
    border: none;
    margin: 5px;
    margin-right: 20px;
}

.sidenav {
    height: 225px;
    width: 200px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 3px;
}

.sidenav li>a {
    color: white;
}

.modal-footer {
    background-color: black !important;
}

.modal {
    background-color: black;
    color: white;
    border: solid white;
    border-width: 1px;
}

#instructions {
    max-height: 80%;
}

#elspith-modal {
    /* background-color: rgba(0,0,0,0); */
    border: solid red;
    border-width: 1px;
    height: 100%;
    width: 400px;
    text-align: center;
    color: red;
}

#elspith-footer {
    text-align: center;
}

#play-again-button {
    border: solid red;
    border-width: 1px;
    color: red;
    
}

#play-again-button:hover {
    background-color: darkred;
}

.waves-green {
    /* background-color: red; */
    color: rgba(0,255,0);
}

.waves-green:hover {
    background-color: lightblue;
}

@media only screen and (max-width: 400px) {
    #navbar-button {
      margin: 2px;
      padding-left: 3px;
      padding-right: 3px;
      width: 70px;
    }
  }
